body {
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1512389055488-8d82cb26ba6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGNocmlzdG1hcyUyMHdpc2hlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  height: 100vh;
}

.positioning {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  justify-content: center;
  width: 30rem;
  margin: 0 auto;
}
button {
  cursor: pointer;
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
  border-radius: 20px;
  box-shadow: 0px 0px 0px rgb(179, 172, 172);
  padding: rgb(146, 144, 144);
}
button::before {
  cursor: pointer;
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
}

h1 {
  font-family: "brush script MT";
}

h2 {
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
}

.wish-name {
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
}
#wish-name {
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
  padding: 8px;
  margin: 8px;
  font-size: 1rem;
  /* Remove all borders except bottom, and remove background color. */
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.login-form {
  padding: 20px 20px;

  position: relative;
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);

  border-radius: 50%;
  font-size: 22px;
  border: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;

  overflow: hidden;
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
  
}

#wish-input {
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
  border-radius: 20px;
  font-size: 1rem;
}

.wish-button {
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
  border-radius: 50%;
}

#login-form {
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
  font-size: 4rem;
}

#wish-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);
}

#wish-items li {
  font-family: "lucida handwriting";
  color: rgb(9, 110, 9);

  padding: 12px;
  margin-bottom: 2px;
  border-radius: 1px;
}
#audio {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0.5;
}
#mystorage {
  position: fixed;
  bottom: 0;
  z-index: 999;
  opacity: 0.5;
}
.box {
  opacity: 0;
}

.text {
  opacity: 0;
}

.name-display {
  font-size: larger;
}
